

.invoice-text{
    text-align: center;
    margin: 40px 0;
    font-size: 50px;
    font-weight: bold;
    text-transform:uppercase;
}

.main-container{
    min-height: 600px;
    width: 90%;
    margin: auto;
    border: 1px solid black;
}
.information-section{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: rgba(211, 211, 211, 0.188);

}

.information-container{
    width: 400px;
    padding: 10px;
    margin: 0 50px;
}

table {
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  table,
  tr,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
    font-size: 18px;
  }
.subtotal-table{
    width: 350px;
    float: right;
    margin-right: 4%;
}


.authorizaed-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 300px;
    margin-bottom: 20px;
}

.containe{
    margin: 0 10%;
    text-align: center;
}